@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family: "ClashDisplay-Variable";
    src: url("./ClashDisplay-Variable.woff2") format("woff2"),
      url("./ClashDisplay-Variable.woff") format("woff"),
      url("./ClashDisplay-Variable.ttf") format("truetype");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.clash-display {
  font-family: "ClashDisplay-Variable", sans-serif;
}

.main-card:before {
  background: linear-gradient(
      18.48deg,
      rgba(255, 255, 255, 0.25) 2.76%,
      rgba(255, 255, 255, 0) 17.23%
    ),
    linear-gradient(
      200.6deg,
      rgba(255, 255, 255, 0.25) 4.13%,
      rgba(255, 255, 255, 0) 20.54%
    );
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
}

.main-card--var {
  
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
}


.main-card-bg {
  height: 1010px;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1010px;
  z-index: 1;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main p {
  font-size: 1.2rem;
}

.logo {
  margin-bottom: 2rem;
}

.logo img {
  max-height: 200px;
}

.welcome-title {
  font-weight: 500;
}

.welcome-subtitle {
  font-weight: 400;
  margin-bottom: 3rem;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons .button:not(:last-child) {
  margin-right: 0.5rem;
}

.button {
  border-radius: 3px;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
}

.button-filled {
  border: 2px solid #bf9900;
  background-color: #bf9900;
  color: #f4f4f4;
}

.button-outline {
  border: 2px solid #8a9cff;
  color: #8a9cff;
  background-color: none;
}

code {
  border-radius: 5px;
  padding: 0.2rem;
  background: #efefef;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
